p span.vert{
  color: rgb(57, 113, 57);
  font-size: larger;
  font-weight: bold;
}

body {
    background-image: url("/asset/images/index/abstract-crop-bw.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    min-width: none;
    background-color: var(--background-color) ;
}

h1 {
    font-size :800%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 5vh;
    font-family: var(--title-font);
    color:var(--secondary-color);
}

h2 {
    text-align: center;
    display: flex;
    margin : 5rem;
    font-family: var(--main-font);
    color:var(--primary-color);
  

}

button {
  padding: 1rem;
  background-color:var(--background-color) ;
  color:var(--primary-color);
  border: var(--primary-color) solid 1px;
  font-family: var(--main-font);
  }

  button:hover {
    background-color: var(--secondary-color);
  }

.contact-button{
    display: flex;
    justify-content: center;
}

.intro {
    height: 70vh;
}

.DarkMode{
    justify-content: space-around;
}


  :root {
    --primary-color: #d6dadb;
    --secondary-color: #b1cccd;
    --accent-color: #717171;
    --background-color: rgb(17, 17, 17);
  
    --main-font: Biko_Regular;
    --title-font: Biko_Bold;
    --light-font : Biko_Light;
  
    --text-font-size: 1.2rem;
    --small-title-font-size: 2rem;
    --big-title-font-size: 4rem;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  
  
  
  @font-face {
      font-family: Biko_Regular;
      src: url("/asset/styles/fonts/Biko_Regular.otf");
    }
  
    @font-face {
      font-family: Biko_Bold;
      src: url("/asset/styles/fonts/Biko_Bold.otf");
    }
    @font-face {
      font-family: Biko_Light;
      src: url("/asset/styles/fonts/Biko_Light-Restricted.otf");
    }
  /* Gestion de la navbar en burger */
 
.navbarBurger {
  overflow: hidden;
  position: absolute;
  top: 0;
  margin : 8px;
  z-index: 500;
}

.navbarBurger a {
  color: var(--primary-color);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  font-family: var(--main-font);
}

.navbarBurger #liens {
  display: none;
  background-color:rgb(34, 34, 34);
}

/* style du bouton */
.navbarBurger a.bouton {
  background-image: url("/asset/images/index/menu_blanc.png");
  background-size: cover;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.navbarBurger a:hover {
  color: var(--secondary-color);

}
  
  /* Gestion de la navbar en desktop */
  
  .navbarDesktop {
    padding: 1rem;
    background-color: var(--background-color);
  }
  
  .navbarDesktop a {
    text-decoration: none;
    color: var(--primary-color);
    padding: 1rem;
    font-family: var(--main-font);
  }
  
  .navbarDesktop a:hover {
    color: var(--accent-color);
  }
  
  .theme-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--background-color);
    padding: 0.5rem;
    margin: 0.5rem;
    font-family: var(--main-font);
  }
  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    font-family: var(--main-font);
    padding: 5px;
    background-color: var(--background-color);
    font-family: var(--main-font);
    color: var(--primary-color);
  }
  
  .LightMode {
    display:none;
  }
  
  /* Responsivité : switch de navbar desktop au menu burger */
  
  @media screen and (max-width: 768px) {
    .navbarDesktop {
      display: none;
    }
    h1 {
      font-size: 500%;
      margin:8rem;
    }
    h2 {
      margin:3rem;
    }
    .intro{
      height: 60vh;
    }
  }
  
  @media screen and (min-width: 769px) {
    .navbarBurger {
      display: none;  
    }
    .contact-button {
      display: flex;
      justify-content: flex-end;
      margin-right: 5rem;
    }

    .contact-button {
      display: flex;
      justify-content: flex-end;
      margin-right: 5rem;
  }
}
  
  