/* @import url(./light_style.css); */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  font-family: var(--main-font);
  color: var(--primary-color);
}

h1 {
  font-family: var(--title-font);
  font-size: var(--big-title-font-size);
  padding: 2% 0% 0 10%;
}

.slider {
  max-width: 45vw;
  margin: 3% auto;
}

.cards {
  display: flex;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.66);
  border-radius: 15px;
  overflow: hidden;
}

.card1,
.card2,
.card3 {
  width: 100%;
  flex-shrink: 0;
  animation: slider-horizontal 20s infinite ease-in-out;
}

.photo {
  display: flex;
  width: 100%;
}

.photo img {
  height: 50vh;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.cardTitle {
  font-family: var(--title-font);
  font-size: var(--small-title-font-size);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 2% 0 2% 10%;
  margin: 0;
}

.cardText {
  padding: 2% 3% 2% 2%;
}

/*  Partie animation */

@keyframes slider-horizontal {
  0%,
  28% {
    transform: translateX(0);
  }
  33%,
  61% {
    transform: translateX(-100%);
  }
  66%,
  94% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-300%);
  }
}

/* .slider input {
  display: none;
}

.dots {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.dots label {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: solid 3px black;
  cursor: pointer;
  transition: all 0.15 ease;
  margin: 5px;
}

.dots label:hover {
  background: black;
} */
